{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Upload profile picture</title>
  <link rel="stylesheet" href="{% static "home/styleprofile.css" %}">
</head>
<body>

<h1>Upload Photo</h1>

<div class="profile-pic-div">
  <img src="{% static "home/image_profile.png" %}" id="photo">
  <input type="file" id="file">
  <label for="file" id="uploadBtn">Choose Photo</label>
  
</div>
<button type = 'submit' >NEXT</button>
<button type = 'submit'>SKIP</button>

<script src="{% static "home/java_profile.js" %}"></script>

</body>
</html>