<style>
    .carousel-item {
  height: 100vh;
  min-height: 300px;
}
.carousel-caption {
  bottom: 220px;
}
.carousel-caption h5 {
  font-size: 45px;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-top: 25px;
  font-family: merienda;
}
.carousel-caption p {
  width: 60%;
  margin: auto;
  font-size: 18px;
  line-height: 1.9;
  font-family: poppins;
}
.carousel-caption a {
  text-transform: uppercase;
  background: #262626;
  padding: 10px 30px;
  display: inline-block;
  color: #fff;
  margin-top: 15px;
}
.navbar-nav a {
  font-family: poppins;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: bold;
}
.navbar-light .navbar-brand {
  color: #fff;
  font-size: 25px;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 2px;
}
.navbar-light .navbar-nav .active > .nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .show > .nav-link {
  color: #fff;
}
.navbar-light .navbar-nav .nav-link {
  color: #fff;
}
.navbar-nav {
  text-align: center;
}
.nav-link {
  padding: 0.2rem 1rem;
}
.nav-link.active,
.nav-link:focus {
  color: #fff;
}
.navbar-toggler {
  padding: 1px 5px;
  font-size: 18px;
  line-height: 0.3;
  background: #fff;
}
.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
  color: #fff;
}
.w-100 {
  height: 100vh;
}
@media only screen and (max-width: 767px) {
  .navbar-nav.ml-auto {
    background: rgba(0, 0, 0, 0.5);
  }
  .navbar-nav a {
    font-size: 14px;
    font-weight: normal;
  }
}
    </style>
    <nav class="navbar navbar-expand-lg navbar-light fixed-top">
    <div class="container">
        <form action={% url 'home' %} method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <input type='hidden' value={{id}} name='id'>
        <input type='hidden' name='select' value='select#@home@page'>
        {% comment %} <a class="navbar-brand" href="#">Readit</a> <button aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler" data-target="#navbarSupportedContent" data-toggle="collapse" type="button"><span class="navbar-toggler-icon"></span></button>				 {% endcomment %}
        <button type='submit' class='nav-link'>Readit</button>
        </form>

        <div class="container">
            <div class="search_wrap search_wrap">
                <div class="search box">
                    <form action={% url 'search-results' %} method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <input type='hidden' value={{id}} name='id'>
                    <input type='hidden' name='select' value='select#@search@input'>
                    <input type="text"class= "input" placeholder="search users" name='search'>
                    <div class="btn btn_common">
                        <i class="fas fa-search"></i>
                    </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                </li>
                <li class="nav-item">
                    <form action={% url 'my-profile' %} method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    {% comment %} <a class="nav-link" href="#">Myprofile</a> {% endcomment %}
                    <input type='hidden' value={{id}} name='id'>
                    <input type='hidden' value="select@myprofile@001" name='select'>
                    <button type='submit' class='nav-link'>MyProfile</button>
                    </form>
                </li>
                <li class="nav-item">
                    <form action={% url 'about-us' %} method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <input type='hidden' value={{id}} name='id'>
                    {% comment %} <a class="nav-link" href="#">AboutUs</a> {% endcomment %}
                    <button type='submit' class='nav-link'>AboutUs</button>
                    </form>
                </li>
                <li class="nav-item">
                    <form action={% url 'contact-us' %} method="POST" enctype="multipart/form-data">
                    {% comment %} <a class="nav-link" href="contact_us.html">ContactUs</a> {% endcomment %}
                    {% csrf_token %}
                    <input type='hidden' name='id' value={{id}}>
                    <button type='submit' class='nav-link'>ContactUs</button>
                    </form>
                </li>
                <li class="nav-item">
                    {% comment %} <form action='#' method="POST" enctype="multipart/form-data">
                    {% csrf_token %} {% endcomment %}
                    <a class="nav-link" href={% url 'start-up' %}>Logout</a>
                    {% comment %} <button type='submit' class='nav-link'>Logout</button> {% endcomment %}
                    </form>
                </li>
            </ul>
        </div>
    </div>
</nav>
